[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
loguru = "*"
fastapi = {extras = ["all"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
psycopg2-binary = "*"
alembic = "*"
sqlalchemy = "*"
python-dotenv = "*"
langchain-community = "*"
langchain = {extras = ["openai"], version = "*"}
mysql-connector-python = "*"
faker = "*"
pydantic-settings = "*"

[dev-packages]

[requires]
python_version = "3.10"
